
        .main{
            width: 100%;
        }
        .mid{
            
            width: 30%;
            margin:50px auto;
            
        }
        .btn{
            padding: 10px 15px;
        }
   
